# set

## Unordered
## Duplicates Not Allowed

In [ ]:
k={1,1,1,2,2,1,1}
k

In [ ]:
myset = {"apple",89,"banana", "cherry", False, 1,True,0,5,9,90,8,90}
myset

In [ ]:
print(len(myset))

In [ ]:
a={1,1,2,2,2,2,3,4,4}
a

In [3]:
mylist=["hello",1,2,2,2,3,454,"hi"]
myset=set(mylist)
myset

{1, 2, 3, 454, 'hello', 'hi'}

In [ ]:
myset = {"apple", "banana", "cherry"}

for x in myset:
  print(x)

In [ ]:
myset = {1,1,1,1,2,3,3,4}
myset

# add

In [5]:
myset = {"apple", "banana", "cherry"}

myset.add(1)

print(myset)

{1, 'cherry', 'banana', 'apple'}

In [8]:
myset = {"apple", "banana", "cherry"}
myset1 = {"pineapple", "mango", "papaya"}

myset.update(myset1)

print(myset)

{'cherry', 'mango', 'papaya', 'pineapple', 'banana', 'apple'}

In [ ]:
myset = {"apple", "banana", "cherry"}
mylist = {"kiwi", "orange","apple"}

myset.update(mylist)

print(myset)

# remove

In [ ]:
myset = {"apple", "banana", "cherry"}

myset.remove("banana")

print(myset)

In [ ]:
myset = {"apple", "banana", "cherry"}

myset.discard("banana")

print(myset)

In [14]:
myset = { "banana","apple","hji",9,78,"hello"}
print(myset)
x = myset.pop()

print(x)

# print(myset)

{'apple', 'hello', 9, 'banana', 78, 'hji'}
apple

In [ ]:
myset = {"apple", "banana", "cherry"}
myset.clear()
print(myset)
del myset
myset