In [2]:
#String

Name="Max"
Name

'Max'

In [9]:
#Data Type

#integer
Mark=20
print(Mark)
print(type(Mark))

#Float
Mark1=20.5
print(Mark1)
print(type(Mark1))

#Complex
Mark2= 1+20j
print(Mark2)
print(type(Mark2))

#Boolean
Mark3=True
print(Mark3)
print(type(Mark3))

20
<class 'int'>
20.5
<class 'float'>
(1+20j)
<class 'complex'>
True
<class 'bool'>

In [19]:
#casting
# int
Mark1=float(20) #int converted to float

Mark2=str(20) #int converted to str

Mark3=complex(20) #int converted to complex

print(Mark1)
print(Mark2)
print(Mark3)

20.0
20
(20+0j)

In [20]:
#casting
# float
Mark1=int(20.3) #Float converted to int

Mark2=str(20.3) #Float converted to str

Mark3=(20.3) #Float converted to complex

print(Mark1)
print(Mark2)
print(Mark3)

20
20.3
(20.3+0j)

In [29]:
#casting
# complex
Mark1=int(3+0j) #complex converted to int (invalid)

Mark2=str(3+0j) #complex converted to str (valid)

Mark3=float(3+0j) #complex converted to float(invalid)

print(Mark2) 
print(Mark1)
print(Mark3)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [28]:
Mark2=str(3+0j) #complex converted to str
Mark2

'(3+0j)'

In [32]:
Mark2=(3+0j)  # convert the complex into float and int
print(float(Mark2.real))
print(int(Mark2.imag))

3.0
0