In [ ]:
Task:
mark={"Tamil":90,"English":95,"maths":91}

In [ ]:

#class
a=int(input("enter"))
b=int(input("enter"))
class mark:
    def mult(self):
        if a!=b:
            return a*b
        else:
            print("invalid")
m=mark()
k=m.mult()
print(k)

In [ ]:
'''mark task
 class task using function:
 using init function  cal add and sub=multi,multi%add=dive'''

In [ ]:
'''login,add,update,delete
d={"user1":{"name":"","age"="","place"="","dep"=""}}
'''

In [29]:

def max():
    a={"Tamil":90,"English":95,"maths":91}
    if i in a:
        i.item
        print(i)
max()

NameError: name 'i' is not defined

#

In [1]:
class money():
    def __init__(self,a,b):
        self.money1=a
        self.money2=b
    def add(self):
        c=self.money1+self.money2
        return c
    def sub(self):
        d=self.money1-self.money2
        return d
    def multi(self):
        e=self.add()*self.sub()
        return e
    def div(self):
        f=self.multi()//zself.add()
        return f
        
money1=int(input("enter1"))
money2=int(input("enter2"))

pay=money(money1,money2)
print(pay.add())
print(pay.sub())
print(pay.multi())
print(pay.div())

enter1 5
enter2 2

7
3
21
3