In [ ]:
Task:
mark={"Tamil":90,"English":95,"maths":91}

In [ ]:

#class
a=int(input("enter"))
b=int(input("enter"))
class mark:
    def mult(self):
        if a!=b:
            return a*b
        else:
            print("invalid")
m=mark()
k=m.mult()
print(k)

In [ ]:
'''mark task
 class task using function:
 using init function  cal add and sub=multi,multi%add=dive'''

In [ ]:
'''login,add,update,delete
d={"user1":{"name":"","age"="","place"="","dep"=""}}
'''

In [9]:
'''
d={"user1":{"name":"xyz","age":20,"place":"zyz","dep":"cs","password":123}}

def login():
    a=input("enter name")
    b=int(input("enter password"))

    if a==(d["user1"]["name"])and b==(d["user1"]["password"]):
        print("account login")
    else:
        print("invalid")
login()

def insert():
    user=input("enter user")
    c=input("enter insert key")
    e=input("enter insert value")
    if user in d:
        d[user][c]=e
        print(d)
    
insert()
'''
d={"user1":{"name":"xyz","age":20,"place":"zyz","dep":"cs","password":123}}

def updated():
    u1=input("enter insert key")
    u2=input("enter insert value")
    
    if u1 in d["user1"]:
        d["user1"][u1]=u2
        print(d)

updated()

enter insert key name
enter insert value tamil

{'user1': {'name': 'tamil', 'age': 20, 'place': 'zyz', 'dep': 'cs', 'password': 123}}

In [ ]:
a={"Tamil":90,"English":95,"maths":91}
b={}
c=-1
for i,j in a.items():
    if j>c:
        c=j
        b=i
print(f"{b},{c}")

#

In [ ]:
'''class task using function:using init function  cal add and sub=multi,multi%add=dive'''

class money():
    def __init__(self,a,b):
        self.money1=a
        self.money2=b
    def add(self):
        c=self.money1+self.money2
        return c
    def sub(self):
        d=self.money1-self.money2
        return d
    def multi(self):
        e=self.add()*self.sub()
        return e
    def div(self):
        f=self.multi()//self.add()
        return f
        
money1=int(input("enter1"))
money2=int(input("enter2"))

pay=money(money1,money2)
print(pay.add())
print(pay.sub())
print(pay.multi())
print(pay.div())