In [1]:
#Legal variable example

Fullname="Tamilmaran" #start with letter
print(Fullname)

Tamilmaran

In [5]:
#Legal variable example
Fullname1="India" #start with underscore
print(_Fullname)

India

In [6]:
Fullname5="India" #contain Numbers but not start with begin
print(Fullname5)

India

In [7]:
count_fullname=5 #between underscore allowed
print(count_fullname)

5

In [8]:
FullName="Tamilmaran" #use case work
print(Fullname)

Tamilmaran

In [9]:
#illegal variable example
1name="tamil"#cannot start with number
print(1name)

SyntaxError: invalid decimal literal (684932913.py, line 1)

In [11]:
Full-name ="Tamilmaran" #cannot use hyphen
print(Full-name)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2238409866.py, line 1)

In [12]:
Full name ="Tamilmaran" #spaces not allowed
print(Full name)

SyntaxError: invalid syntax (2559532917.py, line 1)

In [13]:
$Fullname ="Tamilmaran" #cannot use special characters
print($Fullname)

SyntaxError: invalid syntax (108878985.py, line 1)

In [14]:
from="Chennai" #cannot use the keyword
print(from)

SyntaxError: invalid syntax (2896076980.py, line 1)