In [1]:
#list comprenstion
l=[111,123,313,232]

palindrome=[i for i in l if str(i)==str(i)[::-1]]
palindrome

[111, 313, 232]

In [5]:
 #lambda

def lam(n):
    return lambda a:a+n
k=lam(49)
print(k(1))

50

In [ ]:
#int using palindrom
# map filter task

In [5]:
l=[111,123,313,232]
result=[]

for i in l:
    result=int[i]

TypeError: type 'int' is not subscriptable

In [12]:

l=[111,123,313,232]

for num in l:
    original = num         # save the original number
    rev = 0
    while num > 0:
        rev = rev * 10 + num % 10   # build reversed number
        num //= 10                  # remove last digit
    if original == rev:              # check palindrome
        result.append(original)

print(rev)

232

In [56]:
#map
l=[111,123,313,232]
def mult(l):
    return l+l
result=map(mult,l)
print(list(result))

[222, 246, 626, 464]

In [24]:
def multi(l):
    for i in l:
       result=multi(i+i)
print(result)

[222, 246, 626, 464]

In [55]:
#lambda
'''l=[2,3,4]
multi=lambda l:l+l #wrong
multi(l)'''

l=[2,3,4]
result=[x+y for x,y in zip(l,l)]
print(result)

[4, 6, 8]

In [1]:
#lambda

check=lambda a:"even" if a%2==0 else "odd"
check(4)

'even'

In [4]:
a=lambda a:a+a
a(100)

200

In [6]:
def mul(n):
    return lambda a:a+n
k=mul(49)
print(k(2))

51

In [7]:
def sub(j):
    return lambda a:a-j
k=sub(20)
print(k(2))

-18

In [8]:
l=[]
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
l=[i for i in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:

l=["even" if i%2!=0 else "odd" for i in range(2)]
l

['odd', 'even']

In [29]:
l=[1,2,3,4,5,6,7,8]
m=[j for j in l if j>1 and all(j%i!=0 for i in range(2,j))]
m

[2, 3, 5, 7]

In [30]:
l=[1,2,3,4,5,6,7,8]
m=[j for j in l if i>1 i for i in range(2,j) if i<2 and i%2==0]

SyntaxError: invalid syntax (3959532316.py, line 2)

In [36]:
l=[1,2,3,4,5,6,7,8]
m=[i for i in l if i-2==4]
m

[6]

In [44]:
def add(n):
    return n/n
l=[1,2,3,4,5,6,7,8]
m=map(add,l)
print(list(m))

[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]