In [4]:

k="""Maran,
     2000,
     350"""


k

'Maran,\n     2000,\n     350'

In [5]:
print(k)

Maran,
     2000,
     350

In [10]:
m="  computer  "
print(m.upper()) #upper 
print(m.lower()) #lower
c="science"
print(c.capitalize())#captialize
print(m.strip())# remove the white space

  COMPUTER
  computer
Science
computer

In [12]:
Name="vel"
place="chennai"

p=f"iam from {place} my name is {Name}" #format
print(p)

iam from chennai my name is vel

In [9]:
#split
n="hello,world"
g=n.split(",")
print(g)

['hello', 'world']

In [54]:
#slicing
n="hello,world "
print(n[0:5]) #begining slicing
print(n[6:11])#between the slicing
print(n[-12:-1])#negative
print(n[0:])
print(n[:12])

hello
world
hello,world
hello,world
hello,world