In [1]:
#static values
k=10
i=10
print(k+i)

20

In [3]:
#dynamic values
k=input("enter the number")
k

enter the number 1

'1'

In [4]:
m="10"
print(type(m))

<class 'str'>

In [11]:
k=input("enter the name")
m="maran"
print(k+m)

enter the name tamil

tamilmaran

In [16]:
#data type
#number type
a="america" #string
b=10.0      #float
c=1+23j     #complex
d=True      #Boolean
print(type(d))
print(type(c))
print(type(a))
print(type(b))

<class 'bool'>
<class 'complex'>
<class 'str'>
<class 'float'>

In [28]:
#Casting
t=float(2003) #float 

m=str(2003.3) #str cannot change the float 

s=complex(2) # str change into complex

s1=str(2+0j) #complex cannot change s 
s2=3-23j
print(t)
print(m)
print(s)
print(s1)
print(int(s2.real))  # print only real value and int based
print(float(s2.imag)) # print only imag value and float based

2003.0
2003.3
(2+0j)
(2+0j)
3
-23.0

In [24]:
m=int(9.3) # integer
m          #float into int

9